<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Turkish Airlines</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>IT Departments.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                            J. Software Engineer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Markis Creative</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>.....</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Front End Developer</h3>
                            <div class="time">2011 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Webrika, Conya</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>....</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->